.home {
  padding: 2vw;
  min-height: 90vh;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.4vw;
    margin-bottom: 0.6vw;

    h2 {
      font-size: 1.6vw;
    }

    input {
      height: 100%;
      width: 25vw;
      padding: 0 1vw;
      border: 0.2vw solid var(--light-grey);
      border-radius: var(--border-radius-04);
      font-size: 1vw;
      outline: none;
      border: var(--border) solid var(--dark-grey);
      transition: all 0.3s ease;

      &:focus {
        border-color: var(--black);
      }
    }
  }

  .buttonsPages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;

    button {
      width: 15%;
      height: 2.6vw;
      font-size: 0.8vw;
      font-weight: 500;
      background-color: var(--white);
      border: var(--border) solid var(--dark-grey);
      border-radius: var(--border-radius-04);
      cursor: pointer;
      user-select: none;
      margin-top: 1vw;
      transition: all 0.3s ease;
    }
  }
}
