.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 1fr;
  gap: 1vw;

  .card {
    height: 25vw;
    background-color: var(--white);
    padding: var(--padding);
    border-radius: 1vw;
    border: 2px solid transparent;
    transition: all 0.3s ease;

    &:hover {
      border-color: var(--dark-grey);
    }
  }
}
