.pokédex{
    padding: 2vw;
    background-color: var(--light-grey);
}
.filter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.btn{
    width: 200px;
    display: flex;
    justify-content: space-between;
    border: none;
}