.pokédex {
    padding: 2vw;
    min-height: 90vh;

    h2 {
        font-size: 1.6vw;
    }

    .filter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.6vw;
    
        .buttons {
            width: fit-content;
            border: none;
        }
    }

    .empty {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 78vh;

        p {
            font-size: 1vw;
        }
    }
}
