header {
  position: sticky;
  top: 0;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  height: 5vw;
  width: 100%;
  padding: 0 1vw;
  z-index: 1;
  border-bottom: var(--border) solid var(--dark-grey);

  .logoLink, .logo {
    height: 100%;
  }

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.4vw;
    list-style-type: none;

    a {
      text-decoration: none;
      color: black;
      font-size: 0.8vw;
      font-weight: 500;
      padding: 0.5vw 1vw;
      border-radius: 0.3vw;
      border: var(--border) solid transparent;
      transition: all 0.3s ease;

      &:hover {
        background-color: var(--light-grey);
        border: var(--border) solid var(--dark-grey);
      }
    }
  }
}
